@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Regular"), local("Google Sans Regular"),
    url(https://cdn.jsdelivr.net/gh/186526/jsdelivr@1.1.8/static/ProductSans-Regular.woff2)
      format("woff2");
  font-display: swap;
}
.mdui-container {
  max-width: 950px;
}
.mdui-drawer-close {
  display: none;
}
.mdui-drawer .mdui-list-item {
  padding-left: 20px;
  border-radius: 0 50px 50px 0;
}
body {
  font-family: Product Sans, Roboto, Noto, Helvetica, Arial, sans-serif;
}
.mdui-list-item-icon {
  color: black;
}
.mdui-dialog,
.mdui-shadow-3 {
  border-radius: 8px;
}
.mdui-shadow-3 {
  padding: 20px;
}
.mdui-container .mdui-list-item {
  border-radius: 50px;
}
.mdui-typo h1 {
  margin-top: 0px;
}
.mdui-container {
  margin-top: 10%;
}
.spacer {
  padding-bottom: 10%;
}
#aka h2 {
  font-size: 1.4em;
}
